---
// src/components/Publication.astro
import type { PublicationData } from "../../types/publications";
import JournalArticle from "./JournalArticle.astro";
import Book from "./Book.astro";
import BookChapter from "./BookChapter.astro";

interface Props {
    data: PublicationData;
}

const { data } = Astro.props;

// Have an object that maps publication types to specific components
const publicationComponents = {
    article: JournalArticle,
    comment: JournalArticle,
    book: Book,
    bookChapter: BookChapter,
};

// Get the corresponding component based on publication type
const PublicationComponent = publicationComponents[data.pubType];

// See if we have a link available to render an a tag
const link = data.doi ? `https://doi.org/${data.doi}` : data.url || null;

---

<div class="mb-2">
    {
        link ? (
            <a href={link} class="hover:font-semibold">
                <PublicationComponent {...data} />
                {data.openaccess && <i class="ai ai-open-access text-orange-600" />}
                <i class="fa-solid fa-arrow-up-right-from-square text-xs text-gray-500"></i>
            </a>
        ) : (
            <div>{<PublicationComponent {...data} />}</div>
        )
    }
</div>
