---
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout>

    <div class="text-4xl mb-4">Oops! (404)</div>

    Esta página todavía está en construcción o es una dirección incorrecta.

</BaseLayout>
