---
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import HomeMenuBox from "./HomeMenuBox.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="flex border-y my-6 lg:w-full justify-around flex-wrap">
    <HomeMenuBox title={t("nav.members")} target={`/${lang}/members`} />
    <HomeMenuBox title={t("nav.events")} target={`/${lang}/events`} />
    <HomeMenuBox title={t("nav.projects")} target={`/${lang}/projects`} />
    <HomeMenuBox title={t("nav.recordings")} target={`/${lang}/recordings`} />
</div>
