---
import { getCollection } from "astro:content";
import { getLangFromUrl, parseDDMMYYYY, sortByYear, useTranslations } from "../i18n/utils";
import EventsList from "../components/EventsList.astro";

const events = (await getCollection("events")).sort(sortByYear);

const today = new Date();

const upcomingEvents = events
    .filter((e) => parseDDMMYYYY(e.data.dates.slice(-1)[0].date) >= today)
    .reverse();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<h2 class="text-2xl mb-4">{t("upcoming events")}</h2>
<div class="mb-8">
    {
        upcomingEvents.map((event) => {
            return <EventsList id={event.id} data={event.data} />;
        })
    }
</div>
