---
import { getCollection } from "astro:content";
import { getLangFromUrl, parseDDMMYYYY, useTranslations } from "../i18n/utils";
import EventsList from "../components/EventsList.astro";

const events = (await getCollection("events")).sort((a, b) => {
    const yearA = parseDDMMYYYY(a.data.date.start).getTime();
    const yearB = parseDDMMYYYY(b.data.date.start).getTime();

    return yearB - yearA;
});

const today = new Date();

const upcomingEvents = events
    .filter((e) => parseDDMMYYYY(e.data.date.start) >= today)
    .reverse();

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<h2 class="text-2xl mb-4">{t("upcoming events")}</h2>
<div class="mb-8">
    {
        upcomingEvents.map((event) => {
            return <EventsList id={event.id} data={event.data} />;
        })
    }
</div>
