---
import { getCollection } from "astro:content";

import { getLangFromUrl, sortPublicationsWithForthcoming, useTranslations } from "../i18n/utils";
import Publication from "./publications/Publication.astro";

const publications = await getCollection("publications");

const renderedPublications = publications
    .sort(sortPublicationsWithForthcoming)
    .slice(0, 10);

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div>
    <h2 class="text-2xl mb-4">{t("publications")}</h2>
    {
        renderedPublications.map((publication) => (
            <Publication data={publication.data} />
        ))
    }
</div>
