---
import { getRelativeLocaleUrl } from "astro:i18n";
import Navbar from "../components/Navbar.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import "../styles/global.css";

const lang = getLangFromUrl(Astro.url);

const { title, section } = Astro.props;
---

<html>
  <head lang={lang}>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Santiago Mind and Cognition · {title}</title>
  </head>
  <body>
    <div class="max-w-[1320px] mx-auto my-10">
      <Navbar />
      <div class="my-14">
        <a href={section ? getRelativeLocaleUrl(lang, section) : ""}><h1 class="text-5xl mb-15">{title}</h1></a>
        <slot />
      </div>
    </div>
  </body>
</html>
