---
import { getRelativeLocaleUrl } from "astro:i18n";
import Navbar from "../components/Navbar.astro";
import { getLangFromUrl } from "../i18n/utils";
import "../styles/global.css";
import { SEO } from "astro-seo";

const lang = getLangFromUrl(Astro.url);

const { title, section } = Astro.props;
---

<html>
  <head lang={lang}>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Santiago Mind and Cognition · {title}</title>
    <script
      src="https://kit.fontawesome.com/56ed2b6624.js"
      crossorigin="anonymous"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css"
    />
    <SEO
      charset="UTF-8"
      description="Santiago Mind and Cognition - Grupo de investigación en filosofía de la mente y de las ciencias cognitivas."
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:title",
            content: `${title} · Santiago Mind and Cognition`,
          },
        ],
      }}
    />
  </head>
  <body>
    <div class="lg:max-w-[1320px] mx-auto px-4 my-5 lg:my-10">
      <Navbar />
      <div class="my-14">
        <a href={section ? getRelativeLocaleUrl(lang, section) : ""}
          ><h1 class="text-5xl mb-15">{title}</h1></a
        >
        <slot />
      </div>
    </div>
  </body>
</html>
