---
import HomeMenuBox from "../components/HomeMenuBox.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import BaseLayout from "./BaseLayout.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<BaseLayout>
    <div class="flex flex-col gap-x-6 items-center">
        <div class="w-2/3 mx-auto text-center">
            <h1 class="text-7xl py-10">Santiago Mind and Cognition</h1>
            <div><slot /></div>
        </div>
        <div class="flex">
            <HomeMenuBox title={t("nav.members")} target="members" />
            <HomeMenuBox title={t("nav.events")} target="events" />
            <HomeMenuBox title={t("nav.reading-group")} target="reading-group" />
            <HomeMenuBox title={t("nav.wip")} target="wip"/>
        </div>
    </div>
</BaseLayout>
