---
import { getCollection } from "astro:content";
import HomeMenuBox from "../components/HomeMenuBox.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import BaseLayout from "./BaseLayout.astro";
import Article from "../components/publications/Article.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const publications = await getCollection("publications");
---

<BaseLayout>
    <div class="flex flex-col gap-x-6 items-center">
        <div class="lg:w-2/3 mx-auto text-center">
            <h1 class="text-5xl lg:text-7xl pb-10 lg:py-10">Santiago Mind and Cognition</h1>
            <div><slot /></div>
        </div>
        <div class="flex border-y my-6 lg:w-full justify-around flex-wrap">
            <HomeMenuBox title={t("nav.members")} target="members" />
            <HomeMenuBox title={t("nav.events")} target="events" />
            <HomeMenuBox
                title={t("nav.reading-group")}
                target="reading-group"
            />
            <HomeMenuBox title={t("nav.wip")} target="wip" />
        </div>
    </div>
    <div>
        <h2 class="text-2xl mb-4">Últimas publicaciones</h2>

        {
            publications
                .sort((a, b) => {
                    // Handle cases where year might be a string (e.g., "Forthcoming")
                    const yearA =
                        typeof a.data.year === "string" ? 9999 : a.data.year;
                    const yearB =
                        typeof b.data.year === "string" ? 9999 : b.data.year;

                    // First sort by year (descending)
                    if (yearA > yearB) return -1;
                    if (yearA < yearB) return 1;

                    // If years are equal, sort by title (ascending)
                    const titleA = a.data.title || "";
                    const titleB = b.data.title || "";
                    return titleA.localeCompare(titleB);
                })
                .slice(0, 10)
                .map((publication) => {
                    return <Article {...publication.data} />;
                })
        }
    </div>
</BaseLayout>
